.collection-preview {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
  
    .title {
      font-size: 28px;
      margin-bottom: 25px;
    }
  
    .preview {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-gap: 10px;

      @media screen and (max-width: 1200px) { 
        grid-template-columns: 1fr 1fr 1fr;
      }
      @media screen and (max-width: 900px) { 
        grid-template-columns: 1fr 1fr;
      }
    }
  }
  